@using System.Configuration
@{
    var path = Url.Content(ConfigurationManager.AppSettings["ImagePath"]);
    ViewBag.Title = "Home Page";
}

@section styles {
    <link href="~/Content/cropper/cropper.min.css" rel="stylesheet" />
    <link href="~/Content/cropper/main.css" rel="stylesheet" />
    <style>
        .plusupload {
            cursor: pointer;
        }
    </style>
}

<h4>Download image</h4>
<div id="fileUploadContainer">
    <input type="file" name="img-file" id="img-file" class="hide" />
</div>
<div class="row" style="display: flex; flex-direction: column;">
    <div class="col-lg-1 col-md-2 plusupload" id="imageContainerPlus" data-container="1">
        <div class="thumbnail">
            <img src="@(path+"_defaultImage.png")" style="width:100px" class="uploadimage img-responsive" />
        </div>
    </div>
    <br />
    <div id="listUploadImage" class="listUploadImage without-symbol"></div>
</div>

@section scripts {
    <script src="~/Scripts/cropper/cropper.min.js"></script>
    <script src="~/Scripts/cropper/work-cropper.js"></script>
}